body, h1, h3, h4 {
	font-family: 'Raleway', sans-serif;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

.hero {
padding-top: 80px;
}

h1 {
	font-size: 50pt;
}

h2.white {
	font-family: 'Raleway';
	color: #000000;
	font-size: 38pt;
}

h2.meet {
		font-family: 'Raleway';
	text-align: center;
	font-size: 38pt;
	padding-bottom: 30pt;
}

p {
	font-size: 14pt;
}

p.detail {
	background-color: #efefef;
}

.small-green-info {
		background-color: #c5ea60;
padding-top: 80px;
padding-bottom: 80px;
}

.green-info {
	padding-top: 210px;
	padding-bottom: 210px;
	padding-left: 80px;
	padding-right: 80px;
	background-color: #c5ea60;
}

section.intro {
padding-top: 120px;
}

section.blurb {
	padding-top: 130px;
	padding-bottom: 20px;
}

section.pest {
	padding-top: 30px;
	padding-bottom: 130px;
}

section.problem {
	padding-top: 45px;
}

footer {
	width: 100%;
	height: 76pt;
	display: block;
	background-color: #ffffff;
}

p.footer {
	font-size: 9pt;
	text-align: center;

}

figcaption.fig {
	text-align: center;
}

figcaption {
	text-align: left;
}

.tab-bar {
    -webkit-backface-visibility: hidden;
    background: #ffffff;
    color: #FFFFFF;
    height: 2.8125rem;
    line-height: 2.8125rem;
    position: relative;
}

.left-small {
    height: 2.8125rem;
    position: absolute;
    top: 0;
    width: 2.8125rem;
		border-right: solid 1px #ffffff;
    left: 0;
}
		.left-off-canvas-menu {
    -webkit-backface-visibility: hidden;
    background: #ffffff;
    bottom: 0;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    transition: transform 500ms ease 0s;
    width: 15.625rem;
    z-index: 1001;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
    top: 0;
}

ul.off-canvas-list li a {
    border-bottom: #ffffff;
    color: #000000;
    display: block;
    padding: 0.66667rem;
    transition: background 300ms ease;
}

ul.off-canvas-list li a:hover {
    background: #c5ea60;
}

.tab-bar .menu-icon span::after {
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    left: 0.90625rem;
    box-shadow: 0 0 0 3px #000000, 0 15px 0 3px #000000, 0 30px 0 3px #000000;
    width: 2.5rem;
